# Python
__pycache__/
*.pyc

# IDE / Editor
.vscode/

# Data, Models, and Archives
**/weights/
dataset/
*.pth
*.zip
*.tar.gz
*.pkl

# Results, Logs, and Profiles
**/profile_results*/
heteo_result/
homomodel_result/
single_model_result/
*ncu-rep
*.log

# Images and Notebooks
# *.jpg
# *.png
*.ipynb